@import '_vars.less';

/*KONTAKT*/
.contactData {
  background-color: #E2D4C9;
}
iframe {
  height: 300px;
}
.headerContact, .headerDrive {
  background-color: #FAF7F6;
}
.headerContact h2, .headerDrive h2 {
  color: @black;
  font-size: 18px;
  text-align:center;
  padding: 10px;
  margin: 0;
}
address {
  padding: 20px;
}
.panel-default {
  border: 0;
  margin-top: 20px;
}
/*TELEFONY*/
.phonesAddMenu {
  padding: 0;
  margin: 0;
  a:hover {
    border: 3px solid @red;
  }
}
.phoneClinics, .officePhone {
  color: @white;
  background-color: @navyblue;
}
.phoneClinics h2, .phoneDepartments h2, .phoneDiagnostics h2,
.managementPhone h2, .officePhone h2, .administrationPhone h2 {
  font-size: 16px;
  text-align:center;
  padding: 10px 0;
  margin: 0;
}
.phoneDepartments {
  background-color: @lightblue;
}
.phoneDiagnostics {
  background-color: #E2D4C9;
}
.managementPhone {
  background-color: @red;
}
.administrationPhone {
  background-color: #CCD1E4;
}
