@import '_vars.less';

/*SZPITAL*/
.old_photos {
  div {
    padding: 15px;
  }
  img {
    width: 100%;
    // border: 2px solid #BBB; todo
  }
}
.donate {
  font-family: 'Roboto Condensed', sans-serif;
  h2 {
    font-size: 26px;
  }
  img {
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto
  }
  p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
  }
}
.glyphicon-heart {
  color: @red;
}
