@import '_vars.less';

body {
  background-color: @white;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  .logoChcpio {
    height: 50px;
    margin-right: 15px;
  }
}
.hospitalOffer {
  img {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
  }
  a {
    color: @black;
  }
  p {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  span {
    display: block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  >div {
    border: 2px solid #CCC;
    padding: 0;
    margin-right: 10px;
    height: 389px;
    margin-bottom: 20px;
  }
  .sto {
    border: 2px solid @green;
    margin-right: 0px;
    a {
      p {
        padding-top: 40px;
        padding-bottom: 30px;
      }
    }
  }
  .e-rejestracja {
    background-color: @green;
    border: 2px solid #CCC;
    height: 250px;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    a {
      color: #fff;
      span {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}
.navbar-default {
  background-color: @lightblue;
  border-radius: 0;
}
.defaultMainMenu {
  background-color: @lightblue;
  color: @white;
  border-right: 1px solid @green;
  font-size: 14px;
  margin-right: 0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.btn-default.focus, .btn-default:focus,
.btn-default:active {
  .defaultMainMenu;
}
.dropdown-menu {
  .defaultMainMenu;
  >li>a {
    padding: 10px;
    color: @white;
  }
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.update {
  border: 2px solid #CCC;
  p {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #CCC;
  }
  h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }
  span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
  }
  a {
    display: inline-block;
    padding: 0 3px 20px 10px;
  }
}
//logo UE
.logo {
  margin-top: 100px;
  img {
    height: 50px;
    margin: 20px;
  }
}

//footer
footer {
  background-color: #a0a0a0;
  color: @white;
  font-size: 14px;
  margin-top: 30px;
  padding-top: 50px;
  min-height: 200px;
  a {
    color: @white;
    text-decoration: none;
    &:hover {
      color: @white;
    }
  }
  .copyright {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
